body{
  margin:0
}
.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    margin: 0 auto
}
@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .grid-conteudo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
}
}
@media only screen and (min-width: 1000px) {
  /* For mobile phones: */
  .grid-conteudo{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
}
}
.navbar{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 0.65em;
}
#c1_footer{
  grid-area: 2/1;
}
#c2_footer{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-items: end;
  flex-direction: column;
  align-items: center;
}
#c3_footer{
  display: flex;
  grid-column: 3;
  grid-row: 2;
  justify-items: end;
  flex-direction: column;
  align-items: center;
}
input[type=email] {
  width: 10em;
  font-size: 1em;
  border-radius: 0.75em;
}
 /* APAGAR fundo de cada section */
#green {
    background-color: #baffc9;
  }
#blue {
    background-color:   #bae1ff;
    padding-top: 25px;
  }
#orange {
    background-color: #ffdfba;
  }

 /* Inicio do css da navbar1*/

 * {
  box-sizing: border-box;
}
.btn a{
color:black;
text-decoration: none;
text-transform: uppercase;
}
.btn {
  position: relative;
  height: 20px;
  width: 45px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
  transform: translateZ(-25px);
}

.btn:hover {
  transform: rotateX(-90deg) translateY(25px);
}

.side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.default-side {
 
  transform: translateZ(10px);
}

.hover-side {

  transform: rotateX(90deg) translateZ(10px);
}

/* Fim do css da navbar1*/

/* Inicio do css da navbar2*/
.navbar-2 a {
  color: #303030;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
  min-width: 80px;
}

.navbar-2 a:hover {
  color: #fddb3a;
}

.navbar-2 a:active{
	transform: translateY(5px);
}